<!DOCTYPE html>
<html>
<head>
  <title>Book an Encounter Form Submission Successful</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #39FF14;
    }
    h2 {
      color: #FF4880;
    }
    p {
      margin-bottom: 10px;
    }
    .cta-button {
      display: inline-block;
      border: 3px solid #FF4880;
      background-color: #39FF14;
      color: #ffffff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Book an Encounter Form Submission Successful</h2>
    <p>Dear {{name}},</p>
    <p>Your encounter request has been received! Thank you for choosing Dragon Shelter.</p>
    <p>We will review your request and get back to you shortly.</p>
    <p>If you have any questions or need immediate assistance, please call us at {{dragon_shelter_phone_number}} or chat with us on <a target="_blank" href="https://wa.me/{{ dragon_shelter_whatsapp_number }}?text=Hello Dragon Shelter! I've recently booked an encounter with your shelter, and I have a question about the upcoming experience.">Whatsapp</a>.</p>

    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Phone Number: {{phone_number}}</p>
    <p>Event Description: {{event_description}}</p>
    <p>Preferred Date of Event: {{preferred_date_of_event}}</p>
    <p>Best Regards,</p>
    <p>The Dragon Shelter Team</p>
    <a href="" class="cta-button">Visit Website</a>
  </div>
</body>
</html>
